{% autoescape off %}

Sign Up (Verification)

Hi {{ user.first_name }},

Welcome to Chat360!

You might not realize it yet but today, you took the first step towards 5X'ing your conversion rates.

To get started, we need to confirm your email address, so please click this link to finish creating your account:

https://{{ domain }}/mail-confirm/{{ uid }}/{{ token }}

We built the Chat360 chatbot platform to help you improve your conversion rate, lead generation, marketing efforts, and I hope that we can achieve that for you.

We welcome your feedback, ideas and suggestions. We really want to make your life easier, so if we’re falling short or should be doing something different, we want to hear about it. Send us an email at support@chat360.io.

Thanks!

{% endautoescape %}





