<!DOCTYPE html>
<html>
    <head>
        Dear {{ user.first_name }} {{ user.last_name }},
    </head>
    <body>
        An anonymous user is currently chatting with your Chatbot.

        <br>

        The Gathered Anonymous User Details are as follows:

        <br>

        ------------------------------------------------

        <table>
            {% for field, value in nonlead_data.items %}
                {% if value != "" %}
                    <tr>
                        <td> {{ field }} </td>
                        <td> {{ value }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        ------------------------------------------------

        <br>

        The history is as follows:

        {% for message in messages %}
            <i><b>Message:</i></b> {{ message }}<br>
        {% endfor %}

        <br>

        For more information, refer your live Chat Management dashboard.


        For any other queries contact us.
        email : info@autovista.in
        phone: +91 11111 11111


        Thanks & Regards,
        Autovista Team
    </body>
</html>