MODE=DEVELOPMENT

ALLOWED_HOST=*

SECRET_KEY = cy(ilurter&m_uyk*u)jw28)e4tq#h3ge$@jytr8126a^(#p@n

DEBUG=True

SERVER_HOST=x.x.x.x
SERVER_PORT=8000

DB_NAME=xxxxxxxx
DB_USER=xxxxxxxx
DB_PASSWORD=xxxxxxxx
DB_HOST=xxxxxxxx
DB_PORT=xxxxxxxx

REDIS_SERVER_HOST=127.0.0.1
REDIS_SERVER_PORT=6379

localhost = 'http://127.0.0.1:8000'
serverhost = 'http://A.B.C.D:8000'

SESSION_TIMEOUT_HOURS = 6

EMAIL_HOST = smtp.gmail.com
EMAIL_HOST_USER = xxxx@gmail.com
EMAIL_HOST_PASSWORD = xxxx
EMAIL_PORT = 587
EMAIL_USE_TLS = True

SERVER_URL=abcd.com
PROJECT_VERSION='v1.0'

# Set to False for production server
DEVELOPMENT = True

# Max timeout (float seconds) for Webhook timeout
WEBHOOK_TIMEOUT = 20
